<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topicss.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topicss.description %>
</p>

<%= link_to 'Edit', edit_topicss_path(@topicss) %> |
<%= link_to 'Back', topicsses_path %>
